body {
  background-color: black;
  font-family: Arial;
  font-size: 14px;
  color: white;
}

.wd-explore-tabs {
  padding: 0;
}
.wd-explore-tabs li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}

.wd-explore-tabs li a {
  text-decoration: none;
  color: rgb(110, 118, 125);
  font-size: 15px;
  padding: 16px;
}

.wd-explore-tabs .wd-tabs-selected a {
  color: rgb(29,161,242);
  border-bottom: 2px solid rgb(29,161,242);
}

.wd-float-left {
  float: left;
}
.wd-float-right {
  float: right;
}

.wd-clear {
  clear: both;
}

.wd-row {
  border-bottom: 1px solid rgb(56,68,77);
  margin-bottom: 10px;
}
.wd-row > div {
  margin-left: 0px;
  margin-bottom: 15px;
}

h3 {
  font-size: 13px;
  font-weight: normal;
  color: rgb(110, 118, 125);
  margin: 0px;
}

h1 {
  margin: 2px;
  font-size: 18px;
}
